.container.c {
padding-bottom: 5px;
margin-bottom: 50px;
}

.pagin-cont {
    text-align: right;
    margin-top: 10px; /* Adjust as needed */
  }
  .pagin-cont button {
    border: 0;
    text-align: center;
    width: 40px;
    background: transparent; 
  }

 .fighter-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        margin: 20px;
    }

    .fighter-card {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    .fighter-image {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px; /* Add some margin to separate the image from the content */
    }

