.divider {
  height: 5px;
  width: 100%;
}

.fighter-grid {
  margin-top: 50px;
}
  
  .wdl-header {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  
  .wdl-element {
    margin-top: 0px;
    text-align: center;
  }


  .fighter-table {
    margin: 0 auto;
  }
  
  .fighter-table th, .fighter-table td {
    border: none;
    text-align: center;
    padding-bottom: 0px;
  }
  
  .fighter-table td:nth-child(2) {
    padding-right: 25px;
    padding-left: 25px;
  }
  