.tournament-container {
    
    background-color: #d4bd4b;
}

.tournament-container img {

    width: 100%;
}

.tournament-image {
    min-height: 1800px;
    color: #ffff;
    background: url('/Img/tournaments/OpeningTournament/OpeningTournament.png') no-repeat center;
    background-size: cover;
  }

.tournament-title {
    margin-top: 470px;
    
}  

.tournament-title h1 {
    font-size: 4.5rem;
    line-height: 1.7; /* 1.5 times the font size */
    font-weight: bolder;
    color: #ffff;
    font-family: "Danger", Arial, sans-serif;
    
}

@media screen and (max-width: 768px) {
    .tournament-title h1 {
        font-size: 2.2rem; /* Adjust the font size for small screens */
    }

    .tournament-info {
        padding: 0.5%;
        margin-left: 0px;
        margin-right: 0px;      
    }  

    .date {

        font-size: x-large;
    }
    
    .location {
    
        font-size: x-large;
        
    }
    
    .details {
        font-size: large;
       
        
    }
}

@media screen and (min-width: 768px) {
    .tournament-info {
        padding: 0.5%;
        margin-left: 11%;
        margin-right: 11%;
    }

    .date {

        font-size: xx-large;
    }

    .location {

        font-size: xx-large;
    }
    
    .details {
        font-size: x-large;
        
    }
}

.tournament-info {
    background-color: rgba(255, 255, 255, 0.2);
}



.location {

    font-weight: bold;
}

.details {
    font-weight: 500;
    
}


.image1 {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
}
.details2 {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 15%;
    font-size: x-large;
}

.border-c {
    width: 100%;
    min-height: 200px;
    background: url('/Img/tournaments/OpeningTournament/border.png') no-repeat center;
    background-size: cover;
}