.fighter-card {
    border: 0px solid #ddd;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    position: relative; /* Add relative positioning */
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
    text-transform: uppercase;
}

.fighter-card:hover {
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2); /* Shadow on hover effect */
}

.fighter-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* Add some margin to separate the image from the content */
    border-bottom: 1px solid #ccc; /* Add a border (dividing line) below the image */
}

.fighter-name {
font-weight: bold;
margin-top: 0px;
margin-bottom: 10px;
}

.fighter-nickname {
    font-weight: bold;
    font-size:small;
    margin-bottom: 0px;
    
}




.fighter-table {
    margin: 0 auto;
}

.fighter-table th,
.fighter-table td {
    border: none;
    text-align: center;
    padding-bottom: 0px;
    font-size: small;
}

.fighter-table td:nth-child(2) {
    padding-right: 25px;
    padding-left: 25px;
}

.wdl-header {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: small;
}

.wdl-element {
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
    font-size: small;
}