.fight-border {
  min-height: 30px;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
  padding-top: 0px;
  width:60%
}

.winner-border {

  min-height: 30px;
  width: 3px;
  background-color: #000;
}

.fighter {
  margin-bottom: -10px;
  padding: 0px;
}

.round2 .fighter img {

padding-left: 15%;
padding-right: 15%;
}

.round3 .fighter img {
  padding-left: 30%;
  padding-right: 30%;
  }

.bracket-champ .fighter img {
    padding-left: 35%;
    padding-right: 35%;
    }

.vs {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: bold;
  font-size: x-large;
  }